body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #cfc6c6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Minimale tijd besteed aan styling, wilde graag door */

.container {
  display: flex;
  flex-flow: row wrap;
  margin: 15px;
}

.list-container {
  text-align: center;
}

h3 {
  font-weight:800;
}

ul {
  list-style-type: none;
  width: 450px;
  text-align: left;
}

.grocery-list li:nth-child(2n) {
  background-color:darkgoldenrod;
}

.cart-list li:nth-child(2n) {
  background-color:darkolivegreen;
}

.list-item {
  border-style: solid;
  border-width: 1px 2px 1px 2px;
  padding-left: 10px;
  height: 35px;
  padding-top: 10px;
}
